{% extends 'base.html.twig' %}

{% block title %}Outreach Digital | Termeni și Condiții{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assets/styles/home.css') }}" rel="stylesheet">
    <style>
        ul, li, ul:hover, li:hover {
            all: revert;
        }

        body {
            overflow-x: hidden;
        }

        p, h1, h2, h3, h4, h5, h6 {
            font-family: "Dosis", sans-serif !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/assets/scripts/home.js') }}"></script>
{% endblock %}

{% block body %}
    <div style="padding: 22px 46px;">
        <h1>Politica de confidențialitate</h1>
        <p>Ultima actualizare: 03 aprilie 2024</p>
        <p>Această Politică de confidențialitate descrie politicile și procedurile noastre privind colectarea,
            utilizarea și divulgarea informațiilor dvs. atunci când utilizați Serviciul și vă informează despre
            drepturile dvs. de confidențialitate și modul în care legea vă protejează.</p>
        <p>Utilizăm datele dvs. personale pentru a furniza și îmbunătăți Serviciul. Utilizând Serviciul, sunteți de
            acord cu colectarea și utilizarea informațiilor în conformitate cu această Politică de confidențialitate.
        </p>

        <h2>Interpretare și definiții</h2>

        <h3>Interpretare</h3>
        <p>Cuvintele ale căror inițiale sunt majuscule au înțelesuri definite în următoarele condiții. Definițiile
            următoare vor avea același sens indiferent dacă apar în singular sau în plural.</p>

        <h3>Definiții</h3>
        <p>Pentru scopurile acestei Politici de confidențialitate:</p>

        <ul>
            <li><strong>Cont</strong> înseamnă un cont unic creat pentru dvs. pentru a accesa Serviciul nostru sau părți
                ale Serviciului nostru.
            </li>
            <li><strong>Afiliat</strong> înseamnă o entitate care controlează, este controlată de sau este sub controlul
                comun cu o parte, unde „controlul” înseamnă deținerea a 50% sau mai mult din acțiunile, interesul de
                proprietate sau alte valori mobiliare cu drept de vot pentru alegerea directorilor sau a altei
                autorități de conducere.
            </li>
            <li><strong>Companie</strong> (denumită fie „Compania”, „Noi”, „Ne” sau „Noastră” în acest Acord) se referă
                la S.C. VLG Solutions S.R.L., cu sediul social la adresa: România, Brașov, Str. Pelicanului nr. 5.
            </li>
            <li><strong>Cookie-uri</strong> sunt fișiere mici care sunt plasate pe computerul, dispozitivul mobil sau
                orice alt dispozitiv de către un site web, conținând detaliile istoricului dvs. de navigare pe acel site
                web printre multe utilizări.
            </li>
            <li><strong>Țară</strong> se referă la: România</li>
            <li><strong>Dispozitiv</strong> înseamnă orice dispozitiv care poate accesa Serviciul, cum ar fi un
                computer, un telefon mobil sau o tabletă digitală.
            </li>
            <li><strong>Date personale</strong> sunt orice informații care se referă la o persoană identificată sau
                identificabilă.
            </li>
            <li><strong>Serviciu</strong> se referă la Site-ul web.</li>
            <li><strong>Prestator de servicii</strong> înseamnă orice persoană fizică sau juridică care procesează
                datele în numele Companiei. Se referă la companii sau persoane terțe angajate de către Companie pentru a
                facilita Serviciul, pentru a furniza Serviciul în numele Companiei, pentru a efectua servicii legate de
                Serviciu sau pentru a ajuta Compania în analizarea modului în care este utilizat Serviciul.
            </li>
            <li><strong>Date de utilizare</strong> se referă la date colectate automat, fie generate de utilizarea
                Serviciului, fie din infrastructura Serviciului în sine (de exemplu, durata unei vizite pe pagină).
            </li>
            <li><strong>Site web</strong> se referă la Outreach Digital, accesibil de pe <a
                        href="www.outreachdigital.ro" rel="external nofollow noopener" target="_blank">www.outreachdigital.ro</a>
            </li>
            <li><strong>Dvs.</strong> înseamnă persoana care accesează sau utilizează Serviciul, sau compania sau altă
                entitate juridică în numele căreia acea persoană accesează sau utilizează Serviciul, după caz.
            </li>
        </ul>

        <h2>Colectarea și utilizarea datelor dvs. personale</h2>

        <h3>Tipuri de date colectate</h3>

        <h4>Date personale</h4>
        <p>În timp ce utilizați Serviciul nostru, este posibil să vă solicităm să ne furnizați anumite informații cu
            caracter personal care pot fi utilizate pentru a vă contacta sau identifica. Informațiile cu caracter
            personal pot include, dar nu se limitează la:</p>

        <ul>
            <li>Adresă de email</li>
            <li>Prenume și nume de familie</li>
            <li>Număr de telefon</li>
            <li>Date de utilizare</li>
        </ul>

        <h4>Date de utilizare</h4>
        <p>Datele de utilizare sunt colectate automat în timpul utilizării Serviciului.</p>

        <p>Datele de utilizare pot include informații cum ar fi adresa protocolului de internet a Dispozitivului dvs.
            (de exemplu, adresa IP), tipul de browser, versiunea browserului, paginile Serviciului nostru pe care le
            vizitați, ora și data vizitei dvs., timpul petrecut pe acele pagini, identificatori unici ai dispozitivului
            și alte date de diagnostic.</p>

        <p>Când accesați Serviciul printr-un dispozitiv mobil, putem colecta anumite informații automat, inclusiv, dar
            fără a se limita la, tipul de dispozitiv mobil pe care îl utilizați, ID-ul unic al dispozitivului mobil,
            adresa IP a dispozitivului mobil, sistemul de operare mobil al dispozitivului dvs., tipul de browser de
            internet mobil

            pe care îl utilizați, identificatori unici ai dispozitivului și alte date de diagnostic.</p>

        <p>Putem, de asemenea, să colectăm informații pe care browser-ul dvs. le trimite ori de câte ori vizitați
            Serviciul nostru sau când accesați Serviciul printr-un dispozitiv mobil.</p>

        <h4>Tehnologii de urmărire și Cookie-uri</h4>
        <p>Folosim Cookie-uri și tehnologii de urmărire similare pentru a urmări activitatea pe Serviciul nostru și
            pentru a stoca anumite informații. Tehnologiile de urmărire utilizate sunt balize, etichete și scripturi
            pentru a colecta și urmări informații și pentru a îmbunătăți și analiza Serviciul nostru. Tehnologiile pe
            care le utilizăm pot include:</p>

        <ul>
            <li><strong>Cookie-uri sau Cookie-uri de browser.</strong> Un cookie este un fișier mic plasat pe
                Dispozitivul dvs. Puteți instrui browser-ul dvs. să refuze toate Cookie-urile sau să vă arate atunci
                când un Cookie este trimis. Cu toate acestea, dacă nu acceptați Cookie-uri, s-ar putea să nu puteți
                utiliza anumite părți ale Serviciului nostru. Cu excepția cazului în care ați ajustat setarea
                browser-ului dvs. astfel încât să refuze Cookie-urile, Serviciul nostru poate utiliza Cookie-uri.
            </li>
            <li><strong>Web Beacons.</strong> Anumite secțiuni ale Serviciului nostru și ale emailurilor noastre pot
                conține fișiere electronice mici cunoscute sub numele de balize web (denumite și imagini clare, etichete
                pixel și imagini pixeli unici) care permit Companiei, de exemplu, să numere utilizatorii care au vizitat
                acele pagini sau au deschis un email și pentru alte statistici legate de site (de exemplu, înregistrarea
                popularității unei anumite secțiuni și verificarea integrității sistemului și a serverului).
            </li>
        </ul>

        <p>Cookie-urile pot fi „Persistent” sau „Sesiune”. Cookie-urile persistente rămân pe computerul personal sau pe
            dispozitivul mobil atunci când vă deconectați, în timp ce Cookie-urile de sesiune sunt șterse imediat ce
            închideți browser-ul web. Aflați mai multe despre cookie-uri pe <a
                    href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/#Use_Of_Cookies_And_Tracking"
                    target="_blank">site-ul web al Politicii de confidențialitate gratuite</a>.</p>

        <p>Folosim atât Cookie-uri de sesiune, cât și Cookie-uri persistente în scopurile stabilite mai jos:</p>

        <ul>
            <li>
                <p><strong>Necesare / Cookie-uri esențiale</strong></p>
                <p>Tip: Cookie-uri de sesiune</p>
                <p>Administrat de: Noi</p>
                <p>Scop: Aceste Cookie-uri sunt esențiale pentru a vă oferi serviciile disponibile prin intermediul
                    Site-ului web și pentru a vă permite să utilizați unele dintre caracteristicile acestuia. Acestea
                    ajută la autentificarea utilizatorilor și previn utilizarea frauduloasă a conturilor de utilizator.
                    Fără aceste Cookie-uri, serviciile pe care le-ați solicitat nu pot fi furnizate, iar noi utilizăm
                    aceste Cookie-uri doar pentru a vă oferi aceste servicii.</p>
            </li>
            <li>
                <p><strong>Politica Cookie-urilor / Cookie-uri de acceptare a notificării</strong></p>
                <p>Tip: Cookie-uri persistente</p>
                <p>Administrat de: Noi</p>
                <p>Scop: Aceste Cookie-uri identifică dacă utilizatorii au acceptat utilizarea cookie-urilor pe Site-ul
                    web.</p>
            </li>
            <li>
                <p><strong>Cookie-uri de funcționalitate</strong></p>
                <p>Tip: Cookie-uri persistente</p>
                <p>Administrat de: Noi</p>
                <p>Scop: Aceste Cookie-uri ne permit să ne amintim alegerile pe care le faceți atunci când utilizați
                    Site-ul web, cum ar fi amintirea detaliilor dvs. de autentificare sau preferința de limbă. Scopul
                    acestor Cookie-uri este de a vă oferi o experiență mai personalizată și de a evita reintroducerea
                    preferințelor dvs. de fiecare dată când utilizați Site-ul web.</p>
            </li>
        </ul>

        <p>Pentru mai multe informații despre cookie-urile pe care le utilizăm și opțiunile dvs. privind cookie-urile,
            vă rugăm să vizitați Politica noastră privind cookie-urile sau secțiunea Cookie-uri a Politicii noastre de
            confidențialitate.</p>

        <h3>Utilizarea datelor dvs. personale</h3>

        <p>Compania poate utiliza datele personale în următoarele scopuri:</p>

        <ul>
            <li>
                <p><strong>Pentru a furniza și a menține Serviciul nostru</strong>, inclusiv pentru a monitoriza
                    utilizarea Serviciului nostru.</p>
            </li>
            <li>
                <p><strong>Pentru a vă gestiona Contul:</strong> pentru a vă gestiona înregistrarea ca utilizator al
                    Serviciului. Datele personale pe care le furnizați vă pot oferi acces la diferite funcționalități
                    ale Serviciului care sunt disponibile pentru dvs. ca utilizator înregistrat.</p>
            </li>
            <li>
                <p><strong>Pentru îndeplinirea unui contract:</strong> dezvoltarea, respectarea și îndeplinirea
                    contractului de achiziție pentru produsele, articolele sau serviciile pe care le-ați achiziționat
                    sau a oricărui alt contract cu Noi prin intermediul Serviciului.</p>
            </li>
            <li>
                <p><strong>Pentru a vă contacta:</strong> Pentru

                    a vă contacta prin email, apeluri telefonice, SMS-uri sau alte forme echivalente de comunicare
                    electronică, cum ar fi notificările informative ale aplicațiilor mobile legate de actualizări sau
                    comunicările informative legate de funcționalitățile, produsele sau serviciile contractate, inclusiv
                    actualizările de securitate, atunci când este necesar sau rezonabil pentru implementarea acestora.
                </p>
            </li>
            <li>
                <p><strong>Pentru a vă furniza</strong> știri, oferte speciale și informații generale despre alte
                    bunuri, servicii și evenimente pe care le oferim și care sunt similare cu cele pe care le-ați
                    achiziționat sau solicitat informații despre, cu excepția cazului în care ați optat să nu primiți
                    astfel de informații.</p>
            </li>
            <li>
                <p><strong>Pentru a gestiona solicitarile dvs.:</strong> pentru a gestiona și a răspunde solicitarilor
                    dvs. către Noi.</p>
            </li>
            <li>
                <p><strong>Pentru transferuri de afaceri:</strong> Putem utiliza informațiile dvs. pentru a evalua sau a
                    efectua o fuziune, divizare, restructurare, reorganizare, dizolvare sau alte vânzări sau transferuri
                    de active, fie ca o afacere în desfășurare, fie ca parte a unei proceduri de faliment, lichidare sau
                    procedură similară, în care datele personale deținute de noi despre utilizatorii serviciului nostru
                    sunt printre activele transferate.</p>
            </li>
            <li>
                <p><strong>Pentru alte scopuri</strong>: Putem utiliza informațiile dvs. pentru alte scopuri, cum ar fi
                    analiza datelor, identificarea tendințelor de utilizare, determinarea eficacității campaniilor
                    noastre promoționale și pentru a evalua și îmbunătăți Serviciul nostru, produsele, serviciile,
                    marketingul și experiența dvs.</p>
            </li>
        </ul>

        <p>Putem partaja informațiile dvs. personale în următoarele situații:</p>

        <ul>
            <li><strong>Cu furnizorii de servicii:</strong> Putem partaja informațiile dvs. personale cu furnizorii de
                servicii pentru a monitoriza și analiza utilizarea Serviciului nostru, pentru a vă contacta.
            </li>
            <li><strong>Pentru transferuri de afaceri:</strong> Putem partaja sau transfera informațiile dvs. personale
                în legătură cu, sau în timpul negocierilor pentru, orice fuziune, vânzare de active ale companiei,
                finanțare sau achiziție a întregii afaceri sau a unei părți a afacerii noastre către o altă companie.
            </li>
            <li><strong>Cu Afiliații:</strong> Putem partaja informațiile dvs. cu afiliații noștri, în cazul în care vom
                solicita acest lucru afiliaților noștri să respecte această Politică de confidențialitate. Afiliații
                includ compania noastră mamă și orice alte subsidiare, parteneri de joint venture sau alte companii pe
                care le controlăm sau care sunt sub control comun cu noi.
            </li>
            <li><strong>Cu partenerii de afaceri:</strong> Putem partaja informațiile dvs. cu partenerii noștri de
                afaceri pentru a vă oferi anumite produse, servicii sau promoții.
            </li>
            <li><strong>Cu alți utilizatori:</strong> atunci când partajați informații personale sau interacționați în
                alte moduri în zonele publice cu alți utilizatori, aceste informații pot fi vizualizate de toți
                utilizatorii și pot fi distribuite public în afara acestora.
            </li>
            <li><strong>Cu consimțământul dvs.:</strong> Putem divulga informațiile dvs. personale în scopuri diferite
                decât cele menționate în momentul colectării, cu consimțământul dvs.
            </li>
        </ul>

        <h3>Păstrarea datelor dvs. personale</h3>

        <p>Compania va păstra datele dvs. personale doar pentru cât timp este necesar pentru scopurile stabilite în
            această Politică de confidențialitate. Vom păstra și utiliza datele dvs. personale în măsura în care este
            necesar pentru a ne conforma obligațiilor legale (de exemplu, dacă suntem obligați să păstrăm datele dvs.
            pentru a ne conforma legilor aplicabile), pentru a rezolva disputele și pentru a aplica acordurile și
            politicile noastre legale.</p>

        <p>Compania va păstra, de asemenea, Datele de utilizare în scopuri de analiză internă. Datele de utilizare sunt
            în general păstrate pentru o perioadă mai scurtă de timp, cu excepția cazului în care aceste date sunt
            folosite pentru a consolida securitatea sau pentru a îmbunătăți funcționalitatea Serviciului nostru, sau
            suntem obligați să păstr

            ăm aceste date pentru perioade mai lungi de timp din motive legale.</p>

        <h3>Transferul datelor dvs. personale</h3>

        <p>Informațiile dvs., inclusiv Datele personale, pot fi transferate și păstrate pe calculatoarele care se află
            în afara statului dvs., provinciei, țării sau altor jurisdicții guvernamentale în care legile privind
            protecția datelor pot diferi de cele din jurisdiția dvs.</p>

        <p>Dacă vă aflați în afara României și decideți să ne furnizați informații, vă reamintim că transferăm datele,
            inclusiv Datele personale, în România și le procesăm acolo.</p>

        <p>Consimțind la această Politică de confidențialitate urmată de trimiterea acestor informații, sunteți de acord
            cu acest transfer.</p>

        <p>Compania va lua toate măsurile rezonabile necesare pentru a asigura că datele dvs. sunt tratate în siguranță
            și în conformitate cu această Politică de confidențialitate și niciun transfer de date personale nu va avea
            loc către o organizație sau țară dacă nu există controale adquate, inclusiv siguranța datelor dvs. și alte
            informații personale.</p>

        <h3>Divulgarea datelor dvs. personale</h3>

        <h3>În caz de transfer de afaceri sau fuziune</h3>
        Dacă Compania este implicată într-o fuziune, achiziție sau vânzare de active, Datele personale pot fi
        transferate. Vom furniza un anunț prealabil înainte ca Datele personale să fie transferate și să fie supuse unei
        Politici de confidențialitate diferite.

        <h3>Cereri legale</h3>
        Compania poate dezvălui Datele personale ale Utilizatorilor în alte scopuri decât cele descrise în această
        Politică de confidențialitate sau în alte notificări relevante primite de la Companie, în următoarele cazuri:

        <ul>
            <li>
                <p><strong>Prin lege sau prin cerere a autorităților publice:</strong> în cadrul unei proceduri
                    judiciare sau a unei cereri venite din partea unei autorități publice, indiferent dacă este sau nu
                    într-o altă jurisdicție în care ne aflăm, Compania este obligată să dezvăluie Datele personale ale
                    Utilizatorului.</p>
            </li>
            <li>
                <p><strong>În scopuri juridice:</strong> în cazul în care Compania este chemată să dezvăluie Datele
                    personale ale Utilizatorului pentru a proteja și a-și apăra drepturile sau proprietatea, precum și
                    pentru a preveni sau a investiga posibilele abuzuri legate de Serviciul nostru sau pentru a proteja
                    securitatea personală a Utilizatorilor sau a publicului.</p>
            </li>
        </ul>

        <h2>Securitatea datelor dvs. personale</h2>

        <p>Securitatea datelor dvs. personale este importantă pentru noi, dar rețineți că niciun mijloc de transmitere
            pe internet sau metodă de stocare electronică nu este 100% sigur. În timp ce ne străduim să utilizăm
            mijloace acceptabile pentru a vă proteja Datele personale, nu putem garanta securitatea absolută.</p>

        <h2>Providerii de servicii</h2>

        <p>Putem angaja companii și persoane terțe pentru următoarele motive:</p>

        <ul>
            <li>Pentru a facilita Serviciul;</li>
            <li>Pentru a furniza Serviciul în numele nostru;</li>
            <li>Pentru a efectua servicii legate de Serviciu; sau</li>
            <li>Pentru a ne ajuta în analizarea modului în care este utilizat Serviciul.</li>
        </ul>

        <p>Informații despre politica de confidențialitate a terților pe care le angajăm pentru a ne ajuta să facilităm
            Serviciul pot fi găsite în linkurile de mai jos:</p>

        <ul>
            <li><a href="https://www.google.com/policies/privacy/" rel="external nofollow noopener" target="_blank">Google</a>
            </li>
        </ul>

        <h2>Legături către alte site-uri</h2>

        <p>Serviciul nostru poate conține linkuri către alte site-uri care nu sunt operate de noi. Dacă faceți clic pe
            un link de terță parte, veți fi direcționat către site-ul acelei terțe părți. Vă sfătuim ferm să revizuiți
            Politica de confidențialitate a fiecărui site pe care îl vizitați.</p>

        <p>Nu avem control și nu ne asumăm responsabilitatea pentru conținutul, politicile de confidențialitate sau
            practicile oricărui site sau serviciu terță parte.</p>

        <h2>Confidențialitatea copiilor</h2>

        <p>Serviciul nostru nu se adresează persoanelor cu vârsta sub 18 ani ("Copii").</p>

        <p>Nu colectăm cu bună știință informații de identificare personală de la persoane sub vârsta de 18 ani. Dacă
            sunteți părinte sau tutore și știți că Copilul dvs. ne-a furnizat Date personale, vă rugăm să ne contactați.
            Dacă aflăm că am colectat Date personale de la copii fără verificarea consimțământului părinților, luăm
            măsuri pentru a elimina aceste informații de pe serverele noastre.</p>

        <h2>Drepturile dvs. privind datele cu caracter personal</h2>

        <p>În unele jurisdicții, aveți anumite drepturi privind datele cu caracter personal. Poate că aveți dreptul de
            a:</p>

        <ul>
            <li>
                <p><strong>Accesați și să prim

                        iți copie a datelor dvs. personale:</strong> puteți obține o copie a datelor dvs. personale pe
                    care le deținem.</p>
            </li>
            <li>
                <p><strong>Rectificarea datelor dvs. personale:</strong> dacă credeți că informațiile dvs. personale
                    sunt inexacte sau incomplete, aveți dreptul de a solicita corectarea sau completarea acestora.</p>
            </li>
            <li>
                <p><strong>Ștergeți datele dvs. personale:</strong> în anumite circumstanțe, aveți dreptul de a ne
                    solicita să ștergem datele dvs. personale.</p>
            </li>
            <li>
                <p><strong>Restrictionarea prelucrării datelor dvs. personale:</strong> în anumite circumstanțe, aveți
                    dreptul de a ne solicita să restricționăm prelucrarea datelor dvs. personale.</p>
            </li>
            <li>
                <p><strong>Obiectați prelucrării datelor dvs. personale:</strong> în anumite circumstanțe, aveți dreptul
                    de a obiecta prelucrării datelor dvs. personale.</p>
            </li>
            <li>
                <p><strong>Transferabilitatea datelor dvs. personale:</strong> puteți să primiți datele dvs. personale,
                    într-o formă structurată, uzuală și lizibilă mașinii și să le transmiteți altui controlor de date.
                </p>
            </li>
        </ul>

        <p>Vă rugăm să rețineți că putem solicita să vă confirmați identitatea înainte de a răspunde unei astfel de
            solicitări.</p>

        <p>Aveți dreptul de a depune o plângere la o autoritate de supraveghere cu privire la practicile noastre de
            prelucrare a datelor cu caracter personal. Pentru mai multe informații, vă rugăm să contactați autoritatea
            locală de protecție a datelor din Spațiul Economic European (SEE).</p>

        <h2>Provideri de servicii</h2>

        <p>Putem angaja companii și persoane terțe pentru următoarele motive:</p>

        <ul>
            <li>Pentru a facilita Serviciul;</li>
            <li>Pentru a furniza Serviciul în numele nostru;</li>
            <li>Pentru a efectua servicii legate de Serviciu; sau</li>
            <li>Pentru a ne ajuta în analizarea modului în care este utilizat Serviciul.</li>
        </ul>

        <p>Informații despre politica de confidențialitate a terților pe care le angajăm pentru a ne ajuta să facilităm
            Serviciul pot fi găsite în linkurile de mai jos:</p>

        <ul>
            <li><a href="https://www.google.com/policies/privacy/" rel="external nofollow noopener" target="_blank">Google</a>
            </li>
        </ul>

        <h2>Legături către alte site-uri</h2>

        <p>Serviciul nostru poate conține linkuri către alte site-uri care nu sunt operate de noi. Dacă faceți clic pe
            un link de terță parte, veți fi direcționat către site-ul acelei terțe părți. Vă sfătuim ferm să revizuiți
            Politica de confidențialitate a fiecărui site pe care îl vizitați.</p>

        <p>Nu avem control și nu ne asumăm responsabilitatea pentru conținutul, politicile de confidențialitate sau
            practicile oricărui site sau serviciu terță parte.</p>

        <h2>Confidențialitatea copiilor</h2>

        <p>Serviciul nostru nu se adresează persoanelor cu vârsta sub 18 ani ("Copii").</p>

        <p>Nu colectăm cu bună știință informații de identificare personală de la persoane sub vârsta de 18 ani. Dacă
            sunteți părinte sau tutore și știți că Copilul dvs. ne-a furnizat Date personale, vă rugăm să ne contactați.
            Dacă aflăm că am colectat Date personale de la copii fără verificarea consimțământului părinților, luăm
            măsuri pentru a elimina aceste informații de pe serverele noastre.</p>

        <h2>Drepturile dvs. privind datele cu caracter personal</h2>

        <p>În unele jurisdicții, aveți anumite drepturi privind datele cu caracter personal. Poate că aveți dreptul de
            a:</p>

        <ul>
            <li>
                <p><strong>Accesați și să primiți copie a datelor dvs. personale:</strong> puteți obține o copie a
                    datelor dvs. personale pe care le deținem.</p>
            </li>
            <li>
                <p><strong>Rectificarea datelor dvs. personale:</strong> dacă credeți că informațiile dvs. personale
                    sunt inexacte sau incomplete, aveți dreptul de a solicita corectarea sau completarea acestora.</p>
            </li>
            <li>
                <p><strong>Ștergeți datele dvs. personale:</strong> în anumite circumstanțe, aveți dreptul de a ne
                    solicita să ștergem datele dvs. personale.</p>
            </li>
            <li>
                <p><strong>Restrictionarea prelucrării datelor dvs. personale:</strong> în anumite circumstanțe, aveți
                    dreptul de a ne solicita să restricționăm prelucrarea datelor dvs. personale.</p>
            </li>
            <li>
                <p><strong>Obiectați prelucrării datelor dvs. personale:</strong> în anumite circumstanțe, aveți dreptul
                    de a obiecta prelucrării datelor dvs. personale.</p>
            </li>
            <li>
                <p><strong>Transferabilitatea datelor dvs. personale:</strong> pute

                    ți să primiți datele dvs. personale, într-o formă structurată, uzuală și lizibilă mașinii și să le
                    transmiteți altui controlor de date.</p>
            </li>
        </ul>

        <p>Vă rugăm să rețineți că putem solicita să vă confirmați identitatea înainte de a răspunde unei astfel de
            solicitări.</p>

        <p>Aveți dreptul de a depune o plângere la o autoritate de supraveghere cu privire la practicile noastre de
            prelucrare a datelor cu caracter personal. Pentru mai multe informații, vă rugăm să contactați autoritatea
            locală de protecție a datelor din Spațiul Economic European (SEE).</p>

        <h2>Modificări ale acestei politici de confidențialitate</h2>

        <p>Ne putem actualiza periodic Politica de confidențialitate. Vă vom notifica orice modificări publicând noua
            Politică de confidențialitate pe această pagină.</p>

        <p>Vă vom notifica prin e-mail și/sau prin notificare clară pe Serviciul nostru, înainte ca modificarea să
            devină eficientă și vom actualiza &quot;data ultimei actualizări&quot; de la începutul acestei Politici de
            confidențialitate.</p>

        <p>Se recomandă să revizuiți periodic Politica de confidențialitate pentru orice modificări. Modificările aduse
            acestei Politici de confidențialitate sunt eficiente atunci când sunt publicate pe această pagină.</p>

        <h2>Contactați-ne</h2>

        <p>Dacă aveți întrebări despre această Politică de confidențialitate, vă rugăm să ne contactați:</p>

        <ul>
            <li>Prin e-mail: hello@outreachdigital.ro</li>
            <li>Prin telefon: +40 745 146 116</li>
            <li>Prin corespondență la adresa: Brașov, Str. Pelicanului nr. 5</li>
        </ul>

    </div>
{% endblock %}