{% extends 'base.html.twig' %}

{% block title %}Outreach Digital | Termeni și Condiții{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assets/styles/home.css') }}" rel="stylesheet">
    <style>
        ul, li, ul:hover, li:hover {
            all: revert;
        }

        body {
            overflow-x: hidden;
        }

        p, h1, h2, h3, h4, h5, h6 {
            font-family: "Dosis", sans-serif !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/assets/scripts/home.js') }}"></script>
{% endblock %}

{% block body %}
    <div style="padding: 22px 46px;">
        <h1><strong>Termeni și Condiții</strong></h1>
        <p>Ultima actualizare: 03 aprilie 2024</p>

        <p>Bine ați venit la Outreach Digital!</p>

        <p>Acești termeni și condiții stabilesc regulile și regulamentele pentru utilizarea Site-ului S.C. VLG Solutions
            S.R.L., situat la www.outreachdigital.ro.</p>

        <p>Accesând acest site web, presupunem că acceptați acești termeni și condiții. Nu continuați să utilizați
            Outreach Digital dacă nu sunteți de acord să respectați toți termenii și condițiile menționate pe această
            pagină.</p>

        <p>Următoarea terminologie se aplică acestor Termeni și Condiții, Declarației de Confidențialitate și
            Notificării de Declinare și tuturor Acordurilor: "Client", "Tu" și "Dumneavoastră" se referă la
            dumneavoastră, persoana care se autentifică pe acest site web și care respectă termenii și condițiile
            Companiei. "Compania", "Noi", "Nostru" și "Ne", se referă la Compania noastră. "Parte", "Părți", sau "Noi",
            se referă atât la Client, cât și la noi înșine. Toți termenii se referă la ofertă, acceptare și considerare
            a plății necesare pentru a întreprinde procesul de asistență a Clientului în cea mai potrivită manieră
            pentru scopul expres de a satisface nevoile Clientului în ceea ce privește furnizarea serviciilor declarate
            ale Companiei, în conformitate cu și subiectul legii prevalente din ro. Orice utilizare a terminologiei de
            mai sus sau a altor cuvinte la singular, plural, majusculă și/sau el/ea sau ei/ele, sunt considerate
            interschimbabile și, prin urmare, ca referindu-se la același lucru.</p>

        <h2><strong>Cookie-uri</strong></h2>

        <p>Folosim cookie-uri. Accesând Outreach Digital, sunteți de acord să utilizați cookie-urile în conformitate cu
            Politica de Confidențialitate a S.C. VLG Solutions S.R.L..</p>

        <p>Cele mai multe site-uri web interactive folosesc cookie-uri pentru a ne permite să recuperăm detaliile
            utilizatorului pentru fiecare vizită. Cookie-urile sunt folosite de site-ul nostru web pentru a activa
            funcționalitatea anumitor zone pentru a face mai ușoară vizitarea persoanelor pe site-ul nostru web. Unele
            dintre partenerii noștri afiliați/de publicitate pot utiliza, de asemenea, cookie-uri.</p>

        <h2><strong>Licență</strong></h2>

        <p>Cu excepția cazului în care se specifică altfel, S.C. VLG Solutions S.R.L. și/sau licențiatorii săi dețin
            drepturile de proprietate intelectuală pentru tot materialul de pe Outreach Digital. Toate drepturile de
            proprietate intelectuală sunt rezervate. Puteți accesa acest material de pe Outreach Digital pentru propriul
            dvs. uz personal supus restricțiilor stabilite în acești termeni și condiții.</p>

        <p>Nu trebuie să:</p>
        <ul>
            <li>Republicați materialul de pe Outreach Digital</li>
            <li>Vindeți, închiriați sau subînchiriați materialul de pe Outreach Digital</li>
            <li>Reproduceți, duplicați sau copiați materialul de pe Outreach Digital</li>
            <li>Redistribuiți conținutul de pe Outreach Digital</li>
        </ul>

        <p>Acest Acord va începe în data de azi.</p>

        <p>Anumite părți ale acestui site web oferă utilizatorilor oportunitatea de a posta și schimba opinii și
            informații în anumite zone ale site-ului web. S.C. VLG Solutions S.R.L. nu filtrează, editează, publică sau
            revizuiește Comentariile înainte de prezența acestora pe site-ul web. Comentariile nu reflectă vederile și
            opiniile S.C. VLG Solutions S.R.L., agenții săi și/sau afiliații. Comentariile reflectă vederile și opiniile
            persoanei care își postează opiniile și opiniile. În măsura permisă de legile aplicabile, S.C. VLG Solutions
            S.R.L. nu va fi responsabil pentru Comentarii sau pentru orice răspundere, daune sau cheltuieli cauzate
            și/sau suferite ca urmare a utilizării și/sau postării și/sau apariției Comentariilor pe acest site web.</p>

        <p>S.C. VLG Solutions S.R.L. își rezervă dreptul de a monitoriza toate Comentariile și de a elimina orice
            Comentarii care pot fi considerate nepotrivite, ofensatoare sau care încalcă acești Termeni și Condiții.</p>

        <p>Dumneavoastră garantați și declarați că:</p>

        <ul>
            <li>Sunteți îndreptățit să postați Comentariile pe site-ul nostru web și aveți toate licențele și
                consimțămintele necesare pentru a face acest lucru;
            </li>
            <li>Comentariile nu încalcă niciun drept de proprietate intelectuală, inclusiv fără limitare drepturile de
                autor, brevet sau marcă comercială ale unui terț;
            </li>
            <li>Comentariile nu conțin niciun material defăimător, calomnios, ofensator, indecent sau altfel ilegal care
                ar fi o invazie a intimității
            </li>
            <li>Comentariile nu vor fi folosite pentru a solicita sau promova afaceri sau obiceiuri sau pentru a
                prezenta activități comerciale sau activități ilegale.
            </li>
        </ul>

        <p>Prin prezenta, acordați S.C. VLG Solutions S.R.L.

            o licență non-exclusivă de a utiliza, reproduce, edita și autoriza alții să utilizeze, reproducă și să
            editeze oricare dintre Comentariile dvs. în orice și toate forme, formate sau media.</p>

        <h2><strong>Linkuri către Conținutul nostru</strong></h2>

        <p>Organizațiile următoare pot face link către site-ul nostru web fără aprobare prealabilă în scris:</p>

        <ul>
            <li>Agențiile guvernamentale;</li>
            <li>Motoarele de căutare;</li>
            <li>Organizațiile de știri;</li>
            <li>Distribuitorii de director online pot face link către site-ul nostru web în aceeași manieră în care fac
                legături către site-urile web ale altor afaceri listate; și
            </li>
            <li>Afacerile acreditate la nivel de sistem, cu excepția organizațiilor non-profit care solicită, centrele
                comerciale de caritate și grupurile de strângere de fonduri care nu pot face legături către site-ul
                nostru web.
            </li>
        </ul>

        <p>Aceste organizații pot face link către pagina noastră de start, către publicații sau către alte informații de
            pe site-ul web, atâta timp cât legătura: (a) nu este în niciun fel înșelătoare; (b) nu sugerează fals
            sponsorizare, aprobare sau aprobare a părții care face link și a produselor și/sau serviciilor sale; și (c)
            se încadrează în contextul site-ului web al părții care face link.</p>

        <p>Pot fi luate în considerare și aprobate alte cereri de link de la următoarele tipuri de organizații:</p>

        <ul>
            <li>sursele de informații consumator și/sau de afaceri bine-cunoscute;</li>
            <li>site-urile comunitare dot.com;</li>
            <li>asociațiile sau alte grupuri care reprezintă organizații de caritate;</li>
            <li>distribuitorii de directoare online;</li>
            <li>portalele internet;</li>
            <li>firmele de contabilitate, de drept și de consultanță; și</li>
            <li>instituțiile educaționale și asociațiile de comerț.</li>
        </ul>

        <p>Vom aproba cererile de link de la aceste organizații dacă decidem că: (a) link-ul nu ne-ar face să arătăm
            nefavorabil noi înșine sau afacerile noastre acreditate; (b) organizația nu are nicio înregistrare negativă
            cu noi; (c) beneficiul pentru noi din vizibilitatea hyperlinkului compensează absența S.C. VLG Solutions
            S.R.L.; și (d) legătura este în contextul informațiilor generale de resurse.</p>

        <p>Aceste organizații pot face link către pagina noastră de start atâta timp cât legătura: (a) nu este în niciun
            fel înșelătoare; (b) nu sugerează fals sponsorizare, aprobare sau aprobare a părții care face link și a
            produselor sau serviciilor sale; și (c) se încadrează în contextul site-ului web al părții care face
            link.</p>

        <p>Dacă sunteți una dintre organizațiile enumerate în paragraful 2 de mai sus și sunteți interesat să faceți
            link către site-ul nostru web, trebuie să ne informați trimițând un e-mail la S.C. VLG Solutions S.R.L.. Vă
            rugăm să includeți numele dvs., numele organizației dvs., informații de contact, precum și URL-ul site-ului
            dvs., o listă a oricăror URL-uri de pe care intenționați să faceți link către site-ul nostru web și o listă
            a URL-urilor de pe site-ul nostru către care doriți să faceți link. Așteptați 2-3 săptămâni pentru o
            răspuns.</p>

        <p>Organizațiile aprobate pot face hyperlink către site-ul nostru web în următoarele moduri:</p>

        <ul>
            <li>Prin utilizarea numelui nostru corporativ; sau</li>
            <li>Prin utilizarea locatorului uniform de resurse la care se face link; sau</li>
            <li>Prin utilizarea oricărei alte descrieri a site-ului nostru web către care se face link, care are sens în
                contextul și formatul conținutului de pe site-ul web al părții care face link.
            </li>
        </ul>

        <p>Nicio utilizare a logo-ului sau a altor materiale grafice ale S.C. VLG Solutions S.R.L. nu va fi permisă
            pentru legarea în lipsa unui acord de licență de marcă comercială.</p>

        <h2><strong>iFrames</strong></h2>

        <p>Fără aprobare prealabilă și permisiune în scris, nu puteți crea cadre în jurul paginilor noastre web care să
            modifice în orice fel prezentarea vizuală sau aspectul site-ului nostru web.</p>

        <h2><strong>Răspunderea pentru Conținut</strong></h2>

        <p>Nu ne vom asuma responsabilitatea pentru niciun conținut care apare pe site-ul dvs. web. Vă angajați să ne
            protejați și să ne apărați împotriva tuturor revendicărilor care apar pe site-ul dvs. web. Niciun link nu ar
            trebui să apară pe niciun site web care ar putea fi interpretat ca defăimător, obscen sau criminal, sau care
            încalcă, altfel, sau promovează încălcarea sau alte încălcări ale, drepturilor oricărui terț.</p>

        <h2><strong>Rezervarea Drepturilor</strong></h2>

        <p>Ne rezervăm dreptul de a solicita eliminarea tuturor linkurilor sau a unui anumit link către site-ul nostru
            web.

            Aprobați să eliminați imediat toate linkurile către site-ul nostru web la cerere. Ne rezervăm, de asemenea,
            dreptul de a amenda acești termeni și condiții și politica noastră de legare în orice moment. Prin
            continuarea legării către site-ul nostru web, sunteți de acord să fiți legat și să respectați acești termeni
            și condiții de legare.</p>

        <h2><strong>Eliminarea linkurilor de pe site-ul nostru web</strong></h2>

        <p>Dacă găsiți orice link pe site-ul nostru web care este ofensator din orice motiv, sunteți liber să ne
            contactați și să ne informați oricând. Vom lua în considerare solicitările de eliminare a linkurilor, dar nu
            suntem obligați să o facem sau să vă răspundem direct.</p>

        <p>Nu garantăm că informațiile de pe acest site web sunt corecte, nu garantăm completitudinea sau exactitatea
            acestora; nici nu promitem să asigurăm că site-ul web rămâne disponibil sau că materialul de pe site este
            menținut actualizat.</p>

        <h2><strong>Declinare de Responsabilitate</strong></h2>

        <p>Până la maximum permis de legea aplicabilă, excludem toate reprezentările, garanțiile și condițiile
            referitoare la site-ul nostru web și utilizarea acestuia. Nimic în această declarație de exonare de
            răspundere nu va:</p>

        <ul>
            <li>limita sau exclude răspunderea noastră sau a dvs. pentru deces sau vătămare corporală;</li>
            <li>limita sau exclude răspunderea noastră sau a dvs. pentru fraudă sau reprezentare frauduloasă;</li>
            <li>limita oricare dintre obligațiile noastre sau ale dvs. în orice mod care nu este permis în conformitate
                cu legea aplicabilă; sau
            </li>
            <li>exclude oricare dintre obligațiile noastre sau ale dvs. care nu pot fi excluse în conformitate cu legea
                aplicabilă.
            </li>
        </ul>

        <p>Limitările și interdicțiile de răspundere stabilite în această secțiune și în alte părți ale acestei
            declarații de exonare de răspundere: (a) sunt supuse paragrafului precedent; și (b) guvernează toate
            obligațiile care rezultă din declarația de exonare de răspundere, inclusiv obligațiile care rezultă din
            contract, din delict și din încălcarea obligațiilor legale.</p>

        <p>Atâta timp cât site-ul web și informațiile și serviciile de pe site-ul web sunt furnizate gratuit, nu vom fi
            responsabili pentru niciun fel de pierdere sau daune de orice natură.</p>
    </div>
{% endblock %}