<div id="cookieBanner" class="cookie-consent-banner">
    <div class="cookie-consent-banner__inner">
        <div class="cookie-consent-banner__copy">
            <div class="cookie-consent-banner__header">ACEST WEBSITE FOLOSEȘTE COOKIES</div>
            <div class="cookie-consent-banner__description">Folosim cookie-uri pentru a personaliza conținutul și
                anunțurile, pentru a oferi funcții de social media și pentru a analiza traficul nostru. De asemenea,
                împărtășim informații despre utilizarea dvs. a site-ului nostru cu parteneri de social media,
                publicitate și analiză, care le pot combina cu alte informații pe care le-ați furnizat sau pe care le-au
                colectat de la utilizarea serviciilor lor. Consimțiți la cookie-urile noastre dacă continuați să
                utilizați site-ul nostru web.
                <br>Află mai multe despre cookie-urile pe care le folosim <a href="{{ path('legal', {'templateName': 'privacyPolicy'}) }}"
                    class="cookie-consent-banner__link">aici</a>, și despre Termenii și Condițiile de utilizare
                <a href="{{ path('legal', {'templateName': 'termsAndConditions'}) }}" class="cookie-consent-banner__link">aici</a>.
            </div>
        </div>

        <div class="cookie-consent-banner__actions">
            <a href="#" class="cookie-consent-banner__cta" onclick="setCookies(true)">
                OK
            </a>

            <a href="#" class="cookie-consent-banner__cta cookie-consent-banner__cta--secondary" onclick="setCookies(false)">
                Refuză
            </a>
        </div>
    </div>
</div>

<script>
    let cookieBanner = document.getElementById('cookieBanner');
    let hasAcceptedCookies = null;
    if (localStorage.getItem('hasAcceptedCookies') !== null) {
        cookieBanner.style.display = 'none';
    }

    function setCookies(isAccepted) {
        if (isAccepted) {
            localStorage.setItem('hasAcceptedCookies', 'true');
        } else {
            localStorage.setItem('hasAcceptedCookies', 'false');
        }
        cookieBanner.style.display = 'none';
    }
</script>
