<div class="generic-section">
    <div class="footer-section">
        <h3 class="text-small small-text-mobile" style="font-size: 20px; color: rgba(76,116,252,0.75);">
            Email:
            <b style="color: #4C74FC">
                <a href="mailto:contact@outreachdigital.ro" style="color: inherit; text-decoration: none;">
                    contact@outreachdigital.ro
                </a>
            </b>
        </h3>
        <h3 class="text-small small-text-mobile" style="font-size: 20px; color: rgba(76,116,252,0.75);">
            Telefon:
            <b style="color: #4C74FC">
                <a href="tel:+40745146116" style="color: inherit; text-decoration: none;">
                    +40 745 146 116
                </a>
            </b>
        </h3>
        <h3 class="text-small small-text-mobile" style="font-size: 20px; color: rgba(76,116,252,0.75);">
            Adresa: <b style="color: #4C74FC">Brasov, Str. Dealului nr. 12</b>
        </h3>
    </div>
</div>

<div class="footer">
    ©2023 Toate drepturile rezervate |<b style="color: white">&nbsp;OUTREACH DIGITAL ROMANIA</b>
</div>