<div class="generic-section">
    <div class="footer-section">
        <h3 class="text-small small-text-mobile" style="font-size: 20px; color: rgba(76,116,252,0.75);">
            Email:
            <b style="color: #4C74FC">
                <a href="mailto:hello@outreachdigital.ro" style="color: inherit; text-decoration: none;">
                    hello@outreachdigital.ro
                </a>
            </b>
        </h3>
        <h3 class="text-small small-text-mobile" style="font-size: 20px; color: rgba(76,116,252,0.75);">
            Telefon:
            <b style="color: #4C74FC">
                <a href="tel:+40745146116" style="color: inherit; text-decoration: none;">
                    +40 745 146 116
                </a>
            </b>
        </h3>
        <h3 class="text-small small-text-mobile" style="font-size: 20px; color: rgba(76,116,252,0.75);" onclick="openInNewTab('https://www.google.com/maps/place/Bloc+B9,+Strada+Pelicanului+5,+Bra%C8%99ov+500461/@45.6655097,25.5567529,17z/data=!3m1!4b1!4m6!3m5!1s0x40b35a52d88fa5e5:0x53e8957968acd77!8m2!3d45.6655097!4d25.5593278!16s%2Fg%2F1ptycjyvd?entry=ttu')">
            Adresa: <b style="color: #4C74FC; cursor: pointer;">Brasov, Str. Pelicanului nr. 5</b>
        </h3>
    </div>
</div>

<div class="footer">
    ©2023 Toate drepturile rezervate |<b style="color: white">&nbsp;OUTREACH DIGITAL ROMANIA</b>
</div>